body{
    @include font-body(regular);
}
.full-height{
    height: 100vh;
}
a,button, div, img{
    &:focus{
        outline: none;
    }
}
a, button{
    cursor: pointer;
}
button{
    background-color: transparent;
    border          : 0;
}

p {
    a {
        color: color("light-1");
        border-bottom: 1px solid color("light-1");
        &:hover {
            color: color("primary");
            border-bottom: 1px solid color("primary");
        }
    }
}

nav.nav-tabs-wrapper {
    .nav-tabs {
        border-bottom:0;
        .nav-item {
            border:0;
        }
    }
}
.tab-content {
    .tab-pane {
        background-color: #fff;
        padding: 39px;
        h3 {
            margin-bottom: 20px;
            font-size: 28px;
        }
        p {
            color: color("secondary");
            margin-bottom: 20px;
            a{
                color: color("secondary");
            }
        }
        img {
            display: block;
            @include media-breakpoint-down(sm) {
                margin-bottom: 20px;
            }
        }
        @include media-breakpoint-down(md) {
            padding: 25px;
        }
        @include media-breakpoint-down(sm) {
            padding: 20px 15px;
        }
    }
}

.bg-theme-primary {
    background-color: color("primary");
}
.bg-theme-secondary {
    background-color: color("secondary");
}
.bg-theme-tertiary {
    background-color: color("tertiary");
}
.bg-theme-dark {
    background-color: color("dark");
}
.bg-theme-light {
    background-color: color("light") !important;
}
.bg-theme-light-brown {
    background-color: color("light-1");
}

// .container-fluid {
//     max-width: 1479px;
//     margin: 0 auto;
// }

.share-post {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    p,a {
        color: #000;
        font-size: 22px !important;
    }
    p {
        @include font-body(thin);
        text-transform: uppercase;
    }
    ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        li {
            +li {
                margin-left: 15px;
            }
        }
    }
}