/**
* Bootstrap Breakpoints
* use below to modify CONTAINER max-width;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

* Example Usage:
@include media-breakpoint-up(lg) {
    font-size: 60px;
}
@include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-between(md, xl) { ... }

* How to add fontawesome
&:after{
    *  refer to font awesome website
    * https://fontawesome.com/cheatsheet
    * abstracts: _mixins.scss
    @include fontawesome-icon(brands);
    content: $fa-var-fort-awesome;
}

*/
@import 'abstracts/*';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'vendors/fontawesome/fontawesome';
// @import 'vendors/owlcarousel/owl.carousel';
// @import 'vendors/owlcarousel/owl.theme.default';
@import 'vendors/*';
@import 'base/*';
@import 'layout/*';
@import 'components/*';
@import 'themes/*';
@import 'shame';

// @import 'abstracts/mixins';
// @import 'abstracts/variables';
// @import '../../node_modules/bootstrap/scss/bootstrap';
// @import 'vendors/fontawesome/fontawesome';
// @import 'base/base';
// @import 'base/typography';
// @import 'components/button';
// @import 'components/form';
// @import 'components/mainnav';
// @import 'components/sidebar';
// @import 'components/slider';
// @import 'layout/footer';
// @import 'layout/header';
// @import 'layout/layout';
// @import 'themes/themes';
// @import 'shame';