/* font awesome font type */
@mixin fontawesome-icon($type) {
    @if $type == brands{
        font-family : "Font Awesome 5 Brands";
        font-weight : 400;
    }@else if $type == solid{
        font-family : 'Font Awesome 5 Free';
        font-weight : 900;
    }@else if $type == regular{
        font-family : 'Font Awesome 5 Free';
        font-style  : normal;
        font-weight : 400;
    }@else{
        font-family : 'Font Awesome 5 Free';
        font-style  : normal;
        font-weight : 400;
    }
}

/* even padding top & bottom */
@mixin even-y-padding($padding){
    padding-top     : $padding;
    padding-bottom  : $padding;
}

/* even padding left & right */
@mixin even-x-padding($padding){
    padding-left    : $padding;
    padding-right   : $padding;
}

/* flex alignment (*align-*justify) */
@mixin flex-alignment($alignment){
    @if $alignment == center-center{
        @extend .d-flex;
        @extend .justify-content-center;
        @extend .align-items-center;
    }@else if $alignment == center-start{
        @extend .d-flex;
        @extend .justify-content-start;
        @extend .align-items-center;
    }@else if $alignment == center-end{
        @extend .d-flex;
        @extend .justify-content-end;
        @extend .align-items-center;
    }@else if $alignment == start-center{
        @extend .d-flex;
        @extend .justify-content-center;
        @extend .align-items-start;
    }
}

@mixin font-body($weight){
    @if $weight == light{
        font-family : $font-body;
        font-weight : 300;
    }@else if $weight == thin{
        font-family : $font-body;
        font-weight : 100;
    }@else if $weight == regular{
        font-family : $font-body;
        font-weight : 400;
    }@else if $weight == medium{
        font-family : $font-body;
        font-weight : 500;
    }@else if $weight == semi{
        font-family : $font-body;
        font-weight : 600;
    }
    @else if $weight == bold{
        font-family : $font-body;
        font-weight : 700;
    }@else{
        font-family : $font-body;
        font-weight : 400;
    }
}

@mixin font-display($weight){
    @if $weight == regular{
        font-family : $font-display;
        font-weight : 400;
    }@else if $weight == medium{
        font-family : $font-display;
        font-weight : 500;
    }@else if $weight == bold{
        font-family : $font-display;
        font-weight : 700;
    }@else{
        font-family : $font-display;
        font-weight : 500;
    }
}

@mixin font-header(){
    font-family : $font-header;
    font-weight: 700;
}

$step: 1;
@while $step <=10  {
    // darkens color step by step
    .map-accordian .card:nth-child(#{$step}) button{
      background-color: lighten(#000, ($step * 10%));
    }
  
    // increment the step up by 1 so it continues until you've reached 10 (which you specified at the beginning of the function)
    $step: $step + 1;
  }