// Google font
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,500,700|Roboto+Condensed:700|Roboto:100,300,400,400i,500,700');

// Font Family
$font-body: 'Roboto', sans-serif;
$font-header : 'Roboto Condensed', sans-serif;
$font-display : 'Alegreya', serif;

$fa-font-path: "../fonts/webfonts" !default;

$colors: (
  primary: #2B2F3D,
  secondary: #466874,
  tertiary: #768A3A,
  light: #F7F7E2,
  light-1: #A1855B,
  dark: #4F4E47,
);

/* Grid breakpoints*/
$grid-breakpoints: (
  /* Extra small screen / phone */
  xs: 0,
  /* Small screen / phone */
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  /* Large screen / desktop */
  lg: 992px,
  /* Extra large screen / wide desktop */
  xl: 1200px,
  /* custom breakpoints*/
  xxl: 1440px,

  xxxl: 1600px
);

/* ontainer max-width */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1210px
);
