.map-accordian-section {
    z-index: 9;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    .map-accordian {
        max-width: 355px;
        width: 100%;
        .card {
            border:0;
            border-radius: 0;
            .card-header {
                padding: 0;
                border-radius: 0;
                border:0;
                button {
                    text-align: left;
                    border: 0;
                    border-radius: 0;
                    font-size: 16px;
                    @include font-body(thin);
                    color: #fff;
                    padding: 2px 10px;
                    width: 100%;
                    
                    &[aria-expanded="true"] {
                        background-color: color("tertiary");
                        &:hover {
                            background-color: color("tertiary");
                        }
                    }
                    &:hover {
                        background-color: color("secondary");
                        text-decoration: none;
                    }
                }
            }
            .card-copy{
                padding: 1.25rem;
            }
            .card-body {
                padding: 0;
                padding-bottom: 20px;
                p {
                    font-size: 14px;
                    margin-bottom: 23px;
                    &.title {
                        font-size: 18px;
                        margin-bottom: 17px;
                    }
                }
                a.theme-btn {
                    padding: 5px 10px;
                    font-size: 16px;
                    border-radius: 8px;
                }
                .img-wrapper {
                    height: 198px;
                    width: 100%;
                    background-size: cover;
                    background-position: center;
                }
                .card-footer {
                    background-color: #fff;
                    border:0;
                    text-align: right;
                    padding:0;
                    padding-right: 20px;
                    a {
                        &.theme-btn {
                            max-width: 168px;
                            height: 38px;
                            margin-left: auto;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(lg) {
            max-width: 261px;
        }
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }
    @include media-breakpoint-down(xxl) {
        background-position: 66% !important;
        position: relative;
    }
    // @include media-breakpoint-down(sm) {
    //     padding-top: 30px;
    //     padding-bottom: 30px;
    // }
}