nav {
    &.breadcrumb {
        background-color: transparent;
        margin:0;
        padding:0;
        padding-bottom: 20px;
        ul {
            list-style: none;
            padding-left: 0;
            display: flex;
            li {
                color: color("light-1");
                font-size: 14px;
                a {
                    color: #fff;
                    font-size: 14px;
                }
                + li {
                    &:before {
                        content: '>';
                        margin: 0 5px;
                        color: #fff;
                    }
                }
            }
        }
        &.border-b {
            background-color: #fff;
            border-bottom: 2px solid color("light-1");
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 0;
            li {
                a {
                    color: #000;
                }
                + li {
                    &:before {
                        color: #000;
                    }
                }
            }
        }
    }
}