button, a{
    &:hover{
        text-decoration: none;
    }
    &.theme-btn{
        font-size: 14px;
        color: #fff;
        // padding: 10px 32px;
        border-radius: 10px;
        display: inline-block;
        text-transform: uppercase;
        background-color: color("primary");
        @include font-body(thin);
        height: 44px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;
        &:hover {
            color: #000;
            background-color: color("light-1");
            transition: all .2s;
        }
        @include media-breakpoint-up(lg) {
            font-size: 18px;
            // padding: 10px 52px;
        }
        
        &.bordered {
            background-color: #fff;
            color: color("light-1");
            border: 1px solid color("light-1");
            padding: 8px 0;
            &:hover {
                background-color: color("primary");
                border: 1px solid color("primary");
                color: #fff;
            }
        }

        &.light {
            background-color: color("light-1");
            &:hover {
                background-color: color("primary");
                color: color("light-1");
            }
        }

        &.brown {
            background-color: color("light-1");
            text-transform: capitalize;
            padding: 6px 12px;
            @include font-body(medium);
            font-size: 16px;
            &:hover {
                color: #fff;
                background-color: color("primary");
            }
        }
        &.load-more {
            width: 239px;
            max-height: 44px;
        }
    }
    /* bootstrap available button classes: .btn -> .btn-success, .btn-danger, .btn-warning, .btn-link */
}