form {   
    &.search-form {
        
        input {
            border: 2px solid rgba(228, 228, 228, 1);
            border-right: 0;
            background-color: #fff;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            width: 100%;
            font-size: 14px;
            color: color("light-1");
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: color("light-1");
                font-size: 14px;
              }
            &::-moz-placeholder { /* Firefox 19+ */
                color: color("light-1");
                font-size: 14px;
              }
            &:-ms-input-placeholder { /* IE 10+ */
                color: color("light-1");
                font-size: 14px;
              }
            &:-moz-placeholder { /* Firefox 18- */
                color: color("light-1");
                font-size: 14px;
              }
              &:focus {
                  box-shadow: none;
                  outline: none;
                  border-color: rgba(228, 228, 228, 1);
                  color: color("light-1");
              }
        }
        .input-group-append {
            border: 2px solid rgba(228, 228, 228, 1);
            border-left:0;
            background-color: #fff;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            padding-right: 10px;
            button {
                color: color("light-1");
            }
        }
        input, .input-group-append {
            max-height: 36px;
        }
    }

}

/* Gravity Form */
.gform_wrapper {
    max-width: 1007px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 30px;
    .gform_body {
        ul.gform_field{
            list-style: none;
            padding-left: 0;
            @include media-breakpoint-up(md) {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                max-height: 389px;
            }
            li {
                label {
                    @include font-body(bold);
                    font-size: 16px;
                    color: color("primary");
                    @include media-breakpoint-up(md) {
                        font-size: 18px;
                    }
                    span.gfield_required {
                        display: none;
                    }
                }
                .ginput_container_checkbox {
                    margin-top: 34px;
                    ul.gfield_checkbox {
                        list-style: none;
                        padding-left: 0;
                        li {
                            display: flex;
                            align-items: center;
                            position: relative;
                            width: 100%;
                            input[type="checkbox"] {
                                position: absolute;
                                visibility: hidden;
                                cursor: pointer;
                                &:checked + label {
                                    &:before {
                                        content: $fa-var-check;
                                    }
                                }
                            }
                            label {
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                &:before {
                                    min-width: 38px;
                                    height: 41px;
                                    border: 1px solid #777;
                                    background-color: #fff;
                                    margin-right: 19px;
                                    @include fontawesome-icon(solid);
                                    font-size: 28px;
                                    display: block;
                                    content: '';
                                    text-align: center;
                                    @include media-breakpoint-down(sm) {
                                        min-width: 30px;
                                        height: 30px;
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                input, textarea {
                    border: 1px solid #777;
                    width: 100%;
                    background-color: #fff;
                }
                input {
                    height: 41px;
                    @include media-breakpoint-up(md) {
                        max-width: 272px;
                    }
                }
                textarea {
                    max-height: 160px;
                    @include media-breakpoint-up(md) {

                    }
                }
                @include media-breakpoint-down(md) {
                    width: 50%;
                }
                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
                + li {
                    margin-top: 20px;
                }
                @include media-breakpoint-up(md) {
                    + li {
                        margin-top: 0;
                    }
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
    .gform_footer {
        margin-top: 20px;
        text-align: right;
        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom:0;
            right:0;
            margin-top: 0;
        }
        input {
            font-size: 14px;
            color: #fff;
            padding: 17px 32px;
            border-radius: 10px;
            display: inline-block;
            text-transform: uppercase;
            background-color: color("primary");
            border:0;
            cursor: pointer;
            @include font-body(thin);
            transition: all .2s;
            &:hover {
                color: #000;
                background-color: color("light-1");
                transition: all .2s;
            }
            @include media-breakpoint-up(lg) {
                font-size: 18px;
                // padding: 10px 52px;
            }
        }
    }
}

/* Login Portal*/
.portal-wrapper {
    max-width: 490px;
    margin:0 auto;
    ul.nav-tabs {
        border:0;
        li {
            border-radius: 0;
            a {
                font-size: 20px;
                height: 54px;
                text-transform: uppercase;
                border-radius: 0;
                border:0;
                background-color: #fff;
                color: color("primary");
                display: flex;
                align-items: center;
                justify-content: center;
                &.active {
                    color: #fff;
                    background-color: color("primary");
                }
                &:hover {
                    background-color: color("light-1");
                    color: #000;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 24px;
                    height: 63px;
                }
                &.active {
                    &:hover {
                        color: #fff;
                        background-color: color("primary");
                    }
                }
            }
        }
    }
    .tab-content {
        position: relative;
       .tab-pane {
            background-color: color("secondary");
            padding: 20px;
            form {
                label {
                    font-size: 18px;
                    @include font-body(bold);
                    color: #fff;
                    margin-bottom: 10px;
                }
                input[type="text"],input[type="email"], input[type="number"], input[type="password"] {
                    height: 44px;
                    border-radius:0;
                    background-color: #fff;
                }
                button[type="submit"]{
                    width: 100%;
                    margin-top: 20px;
                }
                .form-check {
                    display: flex;
                    align-items: flex-start;
                    label {
                        font-size: 14px;
                        font-style: italic;
                        @include font-body(bold);
                        a {
                            color: #fff;
                            @include font-body(bold);
                            text-decoration: underline;
                        }
                    }
                }
            }
            a {
                &.forgot-password {
                    color: #fff;
                    font-size: 16px;
                    font-style: italic;
                    @include font-body(bold);
                    text-decoration: underline;
                    margin-top: 20px;
                    display: block;
                    text-align: right;
                }
            }
       }
    }
}