.gallery-wrapper {
    overflow: hidden;
    padding-top: 30px;
    .main-gallery  {
        .slider-main-item {
            padding-bottom: 20px;
        }
        .img-main-wrapper {
            width: 100%;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            @include media-breakpoint-up(md) {
                height: 400px;;
            }
        }
        .figure-caption {
            font-style: italic;
            font-size: 14px;
            color: #333;
        }
        button.slick-arrow {
            z-index: 1;
            &:before {
                font-size: 28px;
            }
            &.slick-prev{
                left: 20px !important;
            }
            &.slick-next{
                right: 20px !important;
            }
        }
    } 
    .sub-gallery {
        .img-sub-wrapper {
            width: 80px;
            height: 80px;
            display: block !important;
            margin:0 auto;
            @include media-breakpoint-up(md) {
                width: 100%;
                max-width: 100px;
            }
            @include media-breakpoint-up(lg) {
                max-width: 130px;
                height: 111px;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: 30px;
    }
}