.parent-info-window {
    margin-top: 21px !important;
    .close-window {
        right: 27px !important;
        top:0 !important;
        width: 20px !important;;
        height: 20px !important;;
        background-color: #fff;
        display: block;
        border-radius: 50%;
        opacity: 1 !important;
        @include flex-alignment(center-center);
        &:before {
            @include fontawesome-icon(solid);
            content: $fa-var-times;
            color: color("light-1");
        }
        img {
            display: none;
        }
    }
}

.wrapper-info-window {
    .wrapper-white {
        background-color: transparent !important;
    }
    .wrapper-shadow {
        box-shadow: none !important;
        background-color: transparent !important;
    }
    .wrapper-arrow {
        visibility: hidden;
    }
    .arrow-shadow {
        border:0 !important;
    }
}

.driving-map {
    min-height: 350px;
    width: 100%;
    max-width: 570px;
    @include media-breakpoint-up(xl) {
        min-height: 650px;
    }
}

.tableland-map {
    width: 100%;
    height: 100%;
}

.svg-map {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    min-height: 657px;
    .main-map {
        position: relative;
        // max-height: 320px;
        height: 100%;
        width: 100%;
        svg {
            height: 100%;
            width: 100%;
            position: absolute;
            #Queanbeyan_Mouse_Over, #Goulburn_Mouse_Over, #Canberra_Mouse_Over, #Hilltops_Mouse_Over, #Upper_Lachlan_Mouse_Over , #Yass_Mouse_Over{
                &:hover {
                    cursor: pointer;
                    path {
                        // stroke: color("tertiary") !important;
                        // stroke-width:2px;
                        // stroke-linejoin: round;
                        // fill: color("tertiary") !important;
                        opacity: 1 !important;
                    }
                    g {
                        path {
                            // fill: #fff!important;
                        }
                    }
                    
                }
                &.selected {
                    path {
                        fill: color("tertiary") !important;
                    }
                    g {
                        path {
                            fill: #fff!important;
                        }
                    }
                }
            }
            @media screen and (max-width: 425px) {
                height: 320px;
                width: 364px;
                left: 11px;
                top: -24px;
            }
            @media screen and (max-width: 320px) {
                left: -3px;
            }
            @media screen and (max-width: 320px) {
                left: -29px;
            }
        }  
           
    }
    @include media-breakpoint-up(xl) {
        position: relative;
    }
    @include media-breakpoint-down(lg) {
        flex-basis: 63%;
    }
    @include media-breakpoint-down(sm) {
        flex-basis: 100%;
        order:-1;
        min-height: 244px;
        // background-image: url('../images/svg_map/svg-map-bg.png');
        // background-size:cover;
        // background-position: right center;
    }
}