nav {
    &.navbar {
        padding-top: 17px;
        padding-bottom: 0;
        background-color : color("primary");
        position: relative;
        z-index: 10;
        p, a {
            color: #fff;
        }


        /* Brand logo */
        .navbar-brand {
            
            width: 100%;
            img {
                width: 100%;
                @include media-breakpoint-down(md) {
                    margin:0 auto;
                    display: block;
                    max-height: 107px;
                    width: auto;
                }
                @include media-breakpoint-down(sm) {
                    max-height: 65px;
                }
            }
            @include media-breakpoint-down(md) {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 0;
            }
            @include media-breakpoint-up(lg) {
                max-width: 218px;
                margin-right: 24px;
            }
            @include media-breakpoint-up(xl) {
                max-width: 285px;
            }
            @include media-breakpoint-up(xxl) {
                max-width: 304px;
                margin-right: 34px;
                align-self: flex-start;
            }
        }

        /* Social Icons, Indistry Portal, Search form */
        .menu-wrapper {
            width: 100%;
            text-align: right;
            .not-collapse {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-bottom: 52px;
                .social-icons {
                    a {
                        font-size: 24px;
                        transition: all .3s;
                        + a {
                            margin-left: 18px;
                        }
                        &:hover {
                            color: color("light-1");
                            transition: all .3s;
                        }
                    }
                    @include media-breakpoint-down(sm) {
                        flex-basis: 50%;
                        text-align: center;
                        padding-bottom: 10px;
                    }
                }
                .portal {
                    a {
                        display: block;
                        .portal-wrapper {
                            color: color("light-1");
                            display: flex;
                            align-items: center;
                            max-width: 137px;
                            width: 100%;
                            @include font-body(regular);
                            svg {
                                height: 24px;
                                path, line, polyline, polygon {
                                    stroke: color("light-1") !important;
                                }
                            }
                            span {
                                margin-left: 10px;
                                @media screen\0 {
                                    white-space: nowrap;
                                    display: flex;
                                }
                            }
                            @include media-breakpoint-down(sm) {
                                justify-content: center;
                            }
                            @media screen\0 {
                                padding-right: 65px;
                            }
                        }
                    }
                    @include media-breakpoint-up(md) {
                        margin-left: 44px;
                    }
                    @include media-breakpoint-down(sm) {
                        flex-basis: 50%;
                        padding-bottom: 10px;
                    }
                }
                .search {
                    margin-left: 28px;
                    max-width: 231px;
                    @include media-breakpoint-down(lg) {
                        margin-left: 18px;
                    }
                    @include media-breakpoint-down(sm) {
                        // padding-top: 10px;
                        margin-left: 0;
                        flex-basis: 80%;
                    }
                }
                @include media-breakpoint-down(md) {
                    padding-bottom: 10px;
                    justify-content: center;
                }
                @include media-breakpoint-down(sm) {
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }
            .navbar-toggler {
                span{
                    display: block;
                    height : 2px;
                    width  : 20px;
                    @include media-breakpoint-up(md) {
                        height: 2px;
                        width : 20px;
                    }
                    background-color: #fff;
                    +span{
                        margin-top: 3px;
                    }
                    transition: all .3s;
                    @include media-breakpoint-down(md) {
                        background-color: #fff;
                     }
                }
                &[aria-expanded=true]{
                    transition: all .3s;
                    span{
                        &:nth-child(1){
                            transform: translateY(6px) translateX(0) rotate(45deg);
                        }
                        &:nth-child(2){
                            opacity: 0;
                        }
                        &:nth-child(3){
                            transform: translateY(-4px) translateX(0) rotate(-45deg);
                        }
                    }

                }
            }
            @include media-breakpoint-down(md) {
                margin-bottom: 15px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-left: 38px;
            }
            @include media-breakpoint-down(sm) {
                padding-top: 10px;
                margin-left: 0;
                display: block
            }
        }
        /* Sub menu items */
        .sub-menu-wrapper {
            .header {
                text-align: center;
                margin-bottom: 32px;
                a {
                    font-size: 24px !important;
                    text-transform: none !important;
                    color: #fff;
                    i {
                        margin-left: 19px;
                        color: color("light-1");
                    }
                    &:hover {
                        color: color("light-1");
                    }
                    @include media-breakpoint-down(md) {
                        font-size: 20px !important;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 16px !important;
                    }
                }
                @include media-breakpoint-down(md) {
                    margin-bottom: 20px;
                }
            }
            .body {
                .body-item {
                    width: 100%;
                    max-width: 293px;
                    margin-bottom: 20px;
                    p {
                        text-align: left;
                        display: flex;
                        justify-content: space-between;
                        &.title {
                            margin-bottom: 32px;
                            a {
                                font-size: 16px;
                                font-style: italic;
                                text-transform: capitalize;
                                display: block;
                                position: relative;
                                border-bottom:0;
                                &.download {
                                    i {
                                        // color: #fff;
                                    }
                                }
                                &:hover {
                                    color: color("light-1") !important;
                                }
                                @include media-breakpoint-down(sm) {
                                    font-size: 14px;
                                }
                            }
                            i {
                                color: color("light-1");
                            }
                            @include media-breakpoint-down(md) {
                                margin-bottom: 20px;
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                        }
                        &.desc {
                            font-family: $font-body;
                            font-weight: 200;
                            font-size: 16px;
                            text-transform: initial;
                        }
                    }
                    .content {
                        .slick-track, .slick-slide {
                            // width: 100% !important;
                            // max-width: 255px;
                        }
                        .img-wrapper {
                            width: 100%;
                            max-width: 255px;
                            height: 170px;
                            background-size: cover;
                            background-position: center;
                            transition: all .3s;
                            margin-bottom: 19px;
                            &:hover {
                                filter:brightness(30%);
                                transition: all .3s;
                            }
                        }
                        .img-slider-wrapper {
                            position: relative;
                            .img-slider-nav {
                                position: absolute;
                                right: 18px;
                                top: 12px;
                                z-index: 1;
                                button {
                                    color: rgba(255, 255, 255, 0.7);
                                    padding: 0;
                                    + button {
                                        margin-left: 15px;
                                    }
                                }
                            }
                        }
                        a {
                            &.link-w-img {
                                display: block;
                                text-align: left;
                                margin-bottom: 19px;
                                img {
                                    max-height: 276px;
                                    max-width: 195px;
                                    display: block;
                                    margin:0 auto;
                                    transition: all .3s;
                                    &:hover {
                                        filter:brightness(30%);
                                        transition: all .3s;
                                    }
                                }
                                span {
                                    display: block;
                                    text-align: left;
                                    text-transform: uppercase;
                                    position: relative;
                                    &:before {
                                        position: absolute;
                                        right: 0;
                                        @include fontawesome-icon(solid);
                                        content: $fa-var-chevron-right;
                                        font-style: normal;
                                        color: color("light-1");
                                        @include media-breakpoint-down(md) {
                                            right: 7px;
                                        }
                                    }
                                }
                                &:hover {
                                    color: color("light-1");
                                    p{
                                        color: color("light-1");
                                    }
                                }
                                p{
                                    margin-top: 12px;
                                }
                            }
                            &.link-w-news, &.link-w-links {
                                display: block;
                                h5 {
                                    text-align: left;
                                    text-transform: capitalize;
                                }
                                p {
                                    @include font-body(thin);
                                    text-transform: none;
                                }
                                h5, p {
                                    font-size: 16px;
                                }
                                transition: all .2s;
                                &:hover {
                                    transition: all .2s;
                                    h5, p {
                                        color: color("light-1");
                                    }
                                }
                            }
                            &.link-w-news {
                                + .link-w-news {
                                    margin-top: 46px;
                                    @include media-breakpoint-down(md) {
                                        margin-top: 24px;
                                    }
                                }
                            }
                            &.link-w-box {
                                display: block;
                                text-align: left;
                                font-size: 13px;
                                text-transform: none;
                                @include font-body(regular);
                                background-color: #fff;
                                color: color("primary");
                                border: 1px solid color("light-1");
                                padding: 8px 11px;
                                max-height: 36px;
                                transition: all .2s;
                                +.link-w-box {
                                    margin-top: 14px;
                                }
                                &:hover {
                                    background-color: color("light-1");
                                    transition: all .2s;
                                    color: #fff;
                                }
                                @include media-breakpoint-down(lg) {
                                    max-width: 260px;
                                }
                            }
                            &.link-w-links {
                                p {
                                    text-decoration: underline;
                                }
                                + .link-w-links {
                                    margin-top: 19px;
                                    @include media-breakpoint-down(md) {
                                        margin-top: 14px;
                                    }
                                }
                            }
                        }
                        .content-inner {
                            width: 100%;
                            + .content-inner {
                                padding-left: 16px;
                                margin-left: 16px;
                                @include media-breakpoint-up(xl) {
                                    border-left: 2px solid color("light-1");
                                }
                            }
                            a.link-w-box {
                                @include media-breakpoint-down(md) {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                    + .body-item {
                        @include media-breakpoint-up(xl) {
                            border-left: 2px solid color("light-1");
                        }
                        @include media-breakpoint-down(sm) {
                            padding-top: 15px;
                            border-top: 1px solid color("light-1");
                        }
                    }
                    @include media-breakpoint-up(lg) {
                        padding: 31px 16px 16px 16px;
                        margin-bottom: 0;
                    }
                    
                    &.wide {
                        max-width: 585px;
                        .content {
                            display: flex;
                        }
                        .content-inner {
                            a.link-w-box {
                                margin-bottom: 14px;
                                max-width: 253px;
                                width: 100%;
                                + a.link-w-box {
                                    margin-top:0;
                                }
                                // &:nth-child(7) {
                                //     margin-bottom: 0;
                                // }
                                &:nth-child(n+7) {
                                    margin-left: auto;
                                } 
                            }
                            &.divider {
                                @include media-breakpoint-up(md) {
                                    &:before {
                                        content: '';
                                        width: 2px;
                                        height: 100%;
                                        position: absolute;
                                        top:0;
                                        left:0;
                                        right:0;
                                        margin:0 auto;
                                        display: block;
                                        background-color: color("light-1");
                                    }
                                }
                            }
                            @include media-breakpoint-up(md) {
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column;
                                justify-content: space-between;
                                max-height: 309px;
                                position: relative;
                                align-items: flex-start;
                                flex: 1 1 auto;
                            }
                        }
                    }
                }
                @include media-breakpoint-up(md) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
        /* Menu items */
        .navbar-collapse {
            justify-content: flex-end;
            ul {
                &.navbar-nav {
                    width: 100%;
                    justify-content: space-between;
                    li, li.menu-item{
                        a {
                            text-transform: uppercase;
                            font-size: 16px;
                            @include font-body(regular);
                            @include media-breakpoint-down(lg) {
                                font-size: 14px;
                            }
                        }

                        &.menu-item-has-children {
                            display: flex;
                            align-items: center;
                            // @include media-breakpoint-between(md, xl) {
                            //     position: relative;
                            // }
                            a.nav-link {
                                position: relative;
                                display: flex;
                                align-items: center;
                                &:after {
                                    margin-left: 11px;
                                    color: color("light-1");
                                    @include fontawesome-icon(solid);
                                    content: $fa-var-caret-down;
                                }
                                @include media-breakpoint-up(lg) {
                                    padding-bottom: 20px;
                                }
                            }

                            input[type=checkbox] {
                                width: 20px;
                                height: 20px;
                                margin-left: -13px;
                                z-index: 2;
                                appearance: none;
                                visibility: none;
                                opacity: 0;
                                border: 0;
                                cursor: pointer;
                                @include media-breakpoint-up(xl) {
                                    display: none;
                                }
                                @include media-breakpoint-up(lg) {
                                    margin-left: -22px;
                                    margin-top: -10px;
                                }
                                &:checked + .sub-menu-wrapper {
                                    max-height: 500px;
                                    overflow: auto;
                                    transition: all 2s;
                                    @include media-breakpoint-up(xl) {
                                        max-height: 1000px;
                                        overflow: hidden;
                                    }
                                    @include media-breakpoint-between(md, lg) {
                                        opacity: 1;
                                        pointer-events: fill;
                                        max-height: 700px;
                                    }
                                }
                                &:focus {
                                    outline: none;
                                }
                            }

                            .sub-menu-wrapper {
                                @include media-breakpoint-up(lg) {
                                    position: absolute;
                                    top: 100%;
                                    width: 100%;
                                    left: 0;
                                    right:0;
                                    background-color : color("primary");
                                    opacity: 0;
                                    pointer-events: none;
                                    transition: all .3s;
                                    padding-top: 28px;
                                    padding-bottom: 28px;
                                }
                                @include media-breakpoint-down(md) {
                                    flex-basis: 100%;
                                    max-height: 0;
                                    overflow: hidden;
                                    transition: all .3s;
                                }
                            }

                            &:hover {
                                @include media-breakpoint-up(xl) {
                                    .sub-menu-wrapper {
                                        opacity: 1;
                                        pointer-events: fill;
                                    }
                                    border-bottom: 4px solid color("light-1");
                                }
                            }
                            @include media-breakpoint-down(md) {
                                position: relative;
                                flex-wrap: wrap;
                            }

                        }
                        @include media-breakpoint-up(lg) {
                            border-bottom: 4px solid color("primary");
                        }
                        &.current_page_item, &.active {
                            @include media-breakpoint-up(lg) {
                                border-bottom: 4px solid color("light-1");
                            }
                        }
                    }
                    @include media-breakpoint-down(lg) {
                        width: 100%;
                    }
                    @include media-breakpoint-down(md) {
                        display: inline-flex;
                    }
                    li {
                        &:nth-child(4) {
                            .body {
                                .body-item {
                                    &.wide {
                                        .content-inner {
                                            a.link-w-box {
                                                &:nth-child(n+7) {
                                                    margin-left: 0;
                                                } 
                                                &:nth-child(n+9) {
                                                    margin-left: auto;
                                                } 
                                            }
                                            @include media-breakpoint-up(md) {
                                                max-height: 409px;
                                                justify-content: flex-start;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down(md) {
                flex-basis: 100%;
            }
        }

        @include media-breakpoint-down(md) {
            padding-top: 10px;
        }
        @media (max-width: 1300px) {
            .container {
                max-width: 1165px;
            }
        }
        @media (max-width: 1100px) {
            .container {
                max-width: 940px;
            }
        }
    }
}