section.newsletter {
    background-color: color("tertiary");
    padding: 20px 15px 30px;
    text-align: center;
    @include media-breakpoint-up(xl) {
        padding: 43px 0;
    }

    h2 {
        font-size: 36px;
        color: #fff;
        margin-bottom: 15px;
        @include media-breakpoint-up(lg) {
            font-size: 58px;
            margin-bottom: 23px;
        }
    }

    p{
        font-size: 14px;
        margin-bottom: 20px;
        @include media-breakpoint-up(lg) {
            max-width: 577px;
            margin: 0 auto;
            margin-bottom: 33px;
        }
    }

    form {
        @include media-breakpoint-up(xl) {
            max-width: 1009px;
            margin: 0 auto;
        }
        input {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid color("primary");
            border-radius: 0;
            font-size: 14px;
            padding-bottom: 15px;
            width: 100%;
            color: #fff;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #fff;
                font-size: 14px;
                @include font-body(regular);
                opacity: 1;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: #fff;
                font-size: 14px;
                @include font-body(regular);
                opacity: 1;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: #fff;
                font-size: 14px;
                @include font-body(regular);
                opacity: 1;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: #fff;
                font-size: 14px;
                @include font-body(regular);
                opacity: 1;
            }
            + input {
                margin-top: 15px;
                @include media-breakpoint-up(md) {
                    margin-left: 20px;
                    margin-top: 0;
                }
                @include media-breakpoint-up(xl) {
                    margin-left: 41px;
                }
            }
            &:focus {
                outline: none;
            }
        }
        button {
            margin-top: 15px;
            padding: 8px 71px;
            @include media-breakpoint-up(md) {
                margin-top: 0;
                margin-left: 15px;
            }
        }
        @include media-breakpoint-up(md) {
            display: flex;
        }
    }
}