panel {
    display: block;
    max-width: 367px;
    &.brown-tag {
        .panel-header {
            width: 100%;
            height: 276px;
            background-size: cover;
            background-position: center;
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            .top-tag, .btm-tag {
                padding: 8px 24px;
                @include font-header();
                text-transform: uppercase;
                font-size: 16px;
                @include media-breakpoint-down(sm) {
                    padding: 6px 12px;
                    font-size:14px;
                }
            }
            .top-tag {
                color: #000;
                background-color: rgba(247, 247, 227, 0.898039215686275);
                align-self: flex-start;
                position: relative;
                z-index: 1;
                @include media-breakpoint-down(sm) {
                    font-size: 14px;
                }
            }
            
            .btm-tag  {
                color: #fff;
                background-color: rgba(0, 0, 0, 0.3);
                align-self: flex-end;
                margin-left: auto;
                position: relative;
                z-index: 1;
                text-transform: uppercase;
                @include font-header();
            }
            .btm-left-tag {
                align-self: flex-end;
                margin-right: auto;
                width: 50%;
                background-color: transparent;
                padding-bottom: 10px;
                padding-left: 30px;
                position: absolute;
                z-index: 1;
                bottom:0;
                left: 0;
                img {
                    max-width: 128px;
                }
                @include media-breakpoint-down(sm) {
                    padding-left: 15px;
                    img {
                        max-width: 100px;
                    }
                }
            }
            .desc-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: all .3s;
                p {
                    color: #fff;
                    font-size: 16px;
                    line-height: 20px;
                    max-width: 174px;
                    @include font-body(medium);
                    @include media-breakpoint-up(lg) {
                        max-width: 244px;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 14px;
                        line-height: 16px;
                        max-width: 220px;
                    }
                }
            }
            &:hover {
                .desc-overlay {
                    opacity: 1;
                    transition: all .3s;
                }
            }
            @include media-breakpoint-down(sm) {
                height: 190px;
            }
        }
        .panel-body {
            background-color: #fff;
            padding: 20px 20px 0 20px;
            border: 1px solid #f2f2f2;
            border-right: 0;
            -webkit-box-shadow: 4px 1px 7px 1px rgba(0,0,0,0.1);
            -moz-box-shadow: 4px 1px 7px 1px rgba(0,0,0,0.1);
            box-shadow: 4px 1px 7px 1px rgba(0,0,0,0.1);
            h3.display {
                font-size: 28px;
                font-weight: 400;
            }
            p{
                @include font-body(thin);
                font-size: 14px;
                color: #1E201A;
                @include media-breakpoint-up(lg) {
                    font-size: 18px
                }
            }
            .panel-footer {
                padding-bottom: 13px;
                padding-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .call-wrapper {
                    display: flex;
                    align-items: center;
                    a {
                        font-size: 16px;
                        color: #1e201a;
                        margin-left: 5px;
                        @include media-breakpoint-down(sm) {
                            font-size: 12px;
                        }
                    }
                    svg {
                        width: 24px;
                        height: 24px;
                        @include media-breakpoint-down(sm) {
                            width: 20px;
                            height: 20px;i {

                            }
                        }
                    }
                }
                .see-more-wrapper {
                    a {
                        color: #1e201a;
                        font-size: 16px;
                        text-transform: uppercase;
                        i {
                            color: color("light-1");
                            margin-left: 10px;
                            transition: all .3s;
                        }
                        @include media-breakpoint-down(sm) {
                            font-size: 12px;
                        }
                        &:hover {
                            i {
                                color: color("primary");
                                transition: all .3s;
                            }
                        }
                    }
                }
                @include media-breakpoint-up(sm) {
                    flex-wrap: wrap;
                }
            }
            &.title {
                h3 {
                    margin: 0 auto;
                }
                p {
                    border-top: 1px solid color("light-1");
                    padding-top: 20px;
                    margin: 20px auto 0;
                    max-width: 90%;
                }
                .panel-footer {
                    padding-top: 36px;
                    .see-more-wrapper{
                        margin-left: auto;
                        &:hover {
                            i {
                                color: color("primary");
                                transition: all .3s;
                            }
                        }
                    }
                    @include media-breakpoint-down(sm) {
                        padding-top: 15px;
                    }
                }
            }
        }

        &:nth-child(n+4) {
            margin-top: 20px;
        }
        @include media-breakpoint-down(lg) {
            &:nth-child(n+3) {
                margin-top: 20px;
            }
        }
        @include media-breakpoint-down(sm) {
            &:nth-child(n+2) {
                margin-top: 20px;
            }
        }
        &.map {
            a.header-wrapper {
                display: block;
                margin-bottom: -3px;
                .panel-header {
                    height: 209px;
                }
            }
            .panel-footer {
                justify-content: flex-end;
            }
        }
    }
    &.black-tag {
        .panel-header {
            width: 100%;
            height: 180px;
            background-size: cover;
            background-position: center;
            position: relative;
            .top-tag {
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
                background-color: rgba(0, 0, 0, 0.698);
                padding: 5px 18px;
                display: inline-block;
                @include font-header();
                position: relative;
                z-index: 1;
                @include media-breakpoint-up(lg) {
                    font-size: 20px;
                }
            }
            .desc-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.2);
                opacity: 0;
                transition: all .3s;
                p {
                    text-transform: uppercase;
                    @include font-body(bold);
                    + a {
                        margin-left: 13px;
                    }
                }
                a + a {
                    margin-left: 13px;
                }
                p, a {
                    color: #F2F2F2;
                    font-size: 18px;
                    transition: all .3s;
                }
                a {
                    &:hover {
                        color: color("light-1");
                        transition: all .3s;
                    }
                }
            }
            .badge {
                position: absolute;
                bottom: -14px;
                left: 15px;
                img{
                    max-width: 55px;
                }
            }
            &:hover {
                .desc-overlay {
                    opacity: 1;
                    transition: all .3s;
                }
            }
        }

        .panel-body {
            padding: 14px;
            border: 1px solid #c9c9c9;
            border-top: 0;
            -webkit-box-shadow: 8px 8px 14px -5px rgba(0,0,0,0.16);
            -moz-box-shadow: 8px 8px 14px -5px rgba(0,0,0,0.16);
            box-shadow: 8px 8px 14px -5px rgba(0,0,0,0.16);
            .body-cat {
                padding-bottom: 25px;
                p {
                    font-size: 14px;
                    color: color("light-1");
                    text-transform: capitalize;
                }
                @include media-breakpoint-down(sm) {
                    padding-bottom: 15px;
                }
            }
            .body-title {
                padding-bottom: 25px;
                p {
                    @include font-body(thin);
                    font-size: 18px;
                }
                @include media-breakpoint-down(sm) {
                    padding-bottom: 15px;
                }
            }
            .body-content {
                p {
                    font-size: 14px;
                }
            }
            
        }

        .panel-footer { 
            padding-top: 30px;
            .see-more-wrapper {
                text-align: right;
                a {
                    color: #1e201a;
                    font-size: 16px;
                    text-transform: uppercase;
                    i {
                        color: color("light-1");
                        margin-left: 10px;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 12px;
                    }
                    &:hover {
                        i {
                            color: color("primary");
                            transition: all .3s;
                        }
                    }
                }
            }
            @include media-breakpoint-down(sm) {
                padding-top: 15px;
            }
        }

    }
    &.promo {
        .panel-body {
            .body-cat {
                padding-bottom: 19px;
            }
            .body-promo {
                p {
                    font-size: 20px;
                    @include font-body(thin);
                    line-height: 20px;
                    &.discount {
                        font-size: 48px;
                        @include font-body(bold);
                        text-transform: uppercase;
                        margin-bottom: 20px;
                        @include media-breakpoint-up(lg) {
                            margin-bottom: 40px;
                        }
                    }
                }
            }
            .panel-footer {
                .see-more-wrapper {
                    a {
                        &:hover {
                            i {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    &.plain {
        .panel-header {
            height: 180px;
            transition: all .3s;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            @include media-breakpoint-up(lg) {
                height: 252px;
            }
            &:hover {
                filter: brightness(50%);
                transition: all .3s;
            }
        }
        .panel-body {
            background-color: #fff;
            padding: 15px;
            text-align: center;
            h3 {
                color: #333;
                font-size: 28px;
                @include media-breakpoint-up(lg) {
                    font-size: 36px;
                }
            }
            p {
                font-size: 14px;
                @include media-breakpoint-up(lg) {
                    font-size: 16px;
                }
            }
            .body-title {
                padding-bottom: 26px;
                @include media-breakpoint-up(lg) {
                    padding-bottom: 34px;
                }
            }
            @include media-breakpoint-up(md) {
                padding: 20px 15px;
            }
            @include media-breakpoint-up(lg) {
                padding: 24px;
            }
        }
        .panel-footer {
            padding-top: 15px;
            text-align: right;
            a {
                font-size: 16px;
                color: #1e201a;
                margin-left: 5px;
                @include media-breakpoint-down(sm) {
                    font-size: 12px;
                }
                i {
                    color: color("light-1");
                    font-size: 28px;
                }
                &:hover {
                    i {
                        color: color("primary");
                        transition: all .3s;
                    }
                }
            }
            @include media-breakpoint-up(md) {
                padding-top: 20px;
            }
            @include media-breakpoint-up(lg) {
                padding-top: 28px;
            }
        }
        &.map {
            .panel-body {
                // padding: 20px 0;
                .body-title {
                    padding-bottom: 0;
                    h3 {
                        font-size: 18px;
                        margin-bottom:0;
                        @include media-breakpoint-up(md) {
                            font-size: 20px;
                        }
                        @include media-breakpoint-up(xl) {
                            font-size: 28px;
                        }
                    }
                }
                .panel-footer .see-more-wrapper{
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: 14px;
                        @include font-body(regular);
                        i {
                            margin-left: 15px;
                            font-size: 16px;
                        }
                        &:hover {
                            i {
                                color: color("primary");
                                transition: all .3s;
                            }
                        }
                        @include media-breakpoint-up(xl) {
                            font-size: 16px;
                        }
                    }
                }
            }

        }
    }
    .panel-body {
        &.bg-theme-primary {
            .body-title, .body-content, .panel-footer, .body-promo {
                color: #fff;
                a {
                    color: #fff;
                }
            }
        }
    }
    &.explore {
        padding: 32px 20px 24px;
        width: 100%;
        max-width: 508px;
        .panel-header {
            display: flex;
            align-items: flex-end;
            padding-bottom: 35px;
            i {
                font-size: 48px;
                margin-right: 16px;
            }
            h3 {
                font-size: 24px;
                @include font-display(bold);
            }
        }
        .panel-body {
            padding-bottom: 23px;
            p {
                font-size: 16px;
            }
        }
        .panel-footer {
            .theme-btn {
                padding: 10px 15px !important;
            }
        }
    }
    &.route {
        .bg-theme-primary {
            h3, p, a {
                color: #fff;
            }
        }
        .panel-header {
            text-align: center;
            padding: 12px 8px;
            h3 {
                @include font-body(bold);
                font-size: 20px;
                @include media-breakpoint-up(lg) {
                    font-size: 24px;
                }
            }
            p {
                font-size: 16px;
                @include media-breakpoint-up(lg) {
                    font-size: 18px;
                }
            }
        }
        .panel-body {
            padding: 20px;
            border: 1px solid #c9c9c9;
            ul{
                padding-left: 0;
                list-style: none;
                li {
                    line-height: 27px;
                    padding-left: 25px;
                    position: relative;
                    p {
                        font-size: 16px;
                        b {
                            color: color("secondary");
                            @include font-body(bold);
                        }
                    }
                    &:before {
                        color: color("secondary");
                        position: absolute;
                        left: 0;
                    }
                    &.time {
                        &:before {
                            @include fontawesome-icon(solid);
                            content: $fa-var-clock;
                        }
                    }
                    &.speed {
                        &:before {
                            @include fontawesome-icon(solid);
                            content: $fa-var-tachometer-alt;
                        }
                    }
                    &.distance {
                        &:before {
                            @include fontawesome-icon(solid);
                            content: $fa-var-road;
                        }
                    }
                    &.notes {
                        &:before {
                            @include fontawesome-icon(solid);
                            content: $fa-var-sticky-note;
                        }
                    }
                }
            }
        }
        .panel-footer {
            padding: 12px 0;
            display: flex;
            justify-content: space-between;
            a {
                text-transform: uppercase;
                font-size: 16px;
                i {
                    color: color("light-1");
                    margin-left: 12px;
                    margin-right: 12px;
                }
            }
        }
    }
    &.fossicking {
        width: 100%;
        .panel-header-link {
            height: 180px;
            width: 100%;
            overflow: hidden;
            display: block;
            .panel-header {
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transition: all .5s;
                &:hover {
                    transform: scale(1.1);
                    transition: all .5s;
                }
            }
            @include media-breakpoint-up(md) {
                height: 218px;
            }
            @include media-breakpoint-up(xl) {
                height: 370px;
            }
        }
        .panel-body {
            padding: 27px 15px;
            text-align: center;
            color: #fff;
            h3 {
                font-size: 22px;
                @include media-breakpoint-up(lg) {
                    font-size: 28px;
                }
            }
        }
        .panel-footer {
            text-align: right;
            padding: 12px 21px 12px;
            border: 1px solid #f2f2f2;border-right: 0;
            -webkit-box-shadow: 4px 1px 7px 1px rgba(0,0,0,0.1);
            -moz-box-shadow: 4px 1px 7px 1px rgba(0,0,0,0.1);
            box-shadow: 4px 1px 7px 1px rgba(0,0,0,0.1);
            a {
                color: #000;
                font-size: 14px;
                text-transform: uppercase;
                transition: all .3s;
                i {
                    margin-left: 10px;
                }
                &:hover {
                    color: color("light-1");
                    transition: all .3s;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 16px;
                }
            }
        }
        &.map {
            max-width: 400px;
            .panel-body {
                padding: 0;
            }
            .body-title {
                padding: 20px;
                background-color: color("light-1");
            }
            .panel-footer {
                background-color: #fff;
            }
        }
    }
}