.sidebar-left-wrapper {
    position: fixed;
    top:0;
    left:0;
    z-index: 99999;
    
    .thumb-left-marker {
        background-color: rgba(color("dark"), .698); 
        color: #fff;
        height: 30px;
        width:30px;
        position: absolute;
        pointer-events: none;
        display: none;
        @include media-breakpoint-down(sm) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .thumb-left {
        display: none;
        @include media-breakpoint-down(sm) {
            display: block;
            appearance: none;
            opacity: 0;
            height: 30px;
            width:30px;
            margin-bottom: 3px;
            &:checked + ul {
                max-width: 129px;
                transition: all .3s;
            }
        }
    }
    ul {
        &.sidebar-left {
            list-style: none;
            padding-left:0;
            margin-left:0;
            display: flex;
            flex-direction: column;
            transition: width .3s;
            li {
                height: 50px;
                margin-bottom: 3px;
                transition: width .1s;
                display: inline-flex;
                align-items: center;
                overflow: hidden;
                background-color: rgba(color("dark"), .698);
                position: relative;
                .svg {
                    display: flex;
                    align-items: center;
                    svg {
                        width: 40px;
                        height: 48px;
                        line, path, circle, polyline {
                            stroke-width: 4px !important;
                        }
                    }
                    &.guide svg {
                        path {
                            width: 27px !important;
                            height: 36px !important;
                        }
                    }
                    &.info svg {
                         path, circle{
                            stroke-width: 5px !important;
                        }
                    }
                    &.map svg {
                        width: 43px;
                        line, path, circle, polyline{
                            stroke-width: 4px !important;
                        }
                    }
                    &.share {
                        @include media-breakpoint-down(sm) {
                            display: none;
                        }
                    }
                    @include media-breakpoint-up(md) {
                        min-width: 50px;
                        height: 50px;
                    }
                }
                a {
                    color: #fff;
                    transition: all .1s;
                    text-transform: uppercase;
                    font-size: 13px;
                    position: relative;
                    padding-right: 11px;
                    @include font-body(light);
                    margin-left: 6px;
                    i {
                        font-size: 26px;
                    }
                }
                &:hover {
                    // width: 100%;
                    // max-width: 129px;
                    // transition: width .3s;
                    svg {
                        path, polyline   {
                            fill: color("light-1") !important; 
                            transition: all .1s;
                        }
                    }
                    a {
                        color: color("light-1");
                        transition: all .1s;
                    }
                }
                &:last-child {
                    a {
                        @include media-breakpoint-up(md) {
                            display: none;
                        }
                        &:hover {
                            color: #fff;
                        }
                    }
                }
                @include media-breakpoint-up(md) {
                    padding-left: 4px;
                }
            }
            @include media-breakpoint-up(md) {
                width: 50px;
                &:hover {
                    width: 100%;
                    max-width: 129px;
                    transition: width .3s;
                    li {
                        .share {
                            min-width: 0;
                            display: none;
                        }
                        &:last-child {
                            a {
                                display: block;
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down(sm) {
                max-width: 0;
                transition: all .3s;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        top: 20px;
    }
}

.sidebar-right-wrapper {
    position: fixed;
    top:35%;
    right:0;
    z-index: 3;
    overflow: hidden;
    display: flex;
    align-items: center;
    pointer-events: none;
    .thumb-right-marker {
        background-color: rgba(color("dark"), .698); 
        color: #fff;
        height: 30px;
        width:30px;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;;
        font-size: 18px;
        // z-index: 9999999;
        pointer-events: fill;
        @include media-breakpoint-down(lg) {
            position: absolute;
            bottom: 50%;
        }
        &:hover {
            + ul.sidebar-right {
                opacity: 1;
            }
        }
        @include media-breakpoint-up(md) {
            height: 50px;
        width:50px;
            font-size: 24px;
        }
    }
    .thumb-right {
        display: none;
        @include media-breakpoint-down(lg) {
            pointer-events: fill;
            display: block;
            width: 50px;
            height: 50px;
            position: relative;
            z-index: 9999999;
            top: -25px;
            opacity: 0;
            &:checked {
                + .sidebar-right-children {
                    margin-right: 0;
                    transition: all .3s;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            width: 30px;
            height: 30px;
        }
    }
    ul.sidebar-right {
        padding-left: 0;
        margin-left:0;
        list-style: none;
        
        li {
            .thumb-right-marker {
                color: #fff;
                margin-left: auto;
                opacity: 1;
                transition: all .3s;
                transition-delay: .3s;
            }
            .sidebar-right-children {
                background-color: rgba(color("dark"), .698);
                margin-right: -189px;
                width: 189px;
                transition: all .3s;
                transition-delay: 0s;
                ul {
                    padding-left: 0;
                    margin-left:0;
                    list-style: none;
                    padding: 15px;
                    pointer-events: fill;
                    li {
                        a {
                            color: #fff;
                            font-size: 16px;
                            line-height: 36px;
                            pointer-events: fill;
                            &:hover {
                                color: color("light-1");
                            }
                            @include media-breakpoint-down(sm) {
                                font-size: 14px;
                                line-height: 34px;
                            }
                        }
                    }
                }
                @include media-breakpoint-down(sm) {
                    margin-right: -170px;
                    width: 170px;
                }
            }
            &.sidebar-item {
                display: flex;
                align-items: center;
            }
            @include media-breakpoint-up(xl) {
                &:hover {
                    .thumb-right-marker {
                        opacity:0;
                        transition: none;
                    }
                    .sidebar-right-children {
                        margin-right: 0;
                        transition: all .3s;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        top: 20%;
    }
}