section {
    &.social {
        overflow: hidden;
        text-align: center;
        
        .section-header {
            // padding-bottom: 38px;
            h2 {
                font-size: 38px;
                color: #000;
                @include font-display(regular);
                @include media-breakpoint-up(md) {
                    font-size: 58px;
                    margin-bottom: 10px;
                }
            }
        }
        .insta-slider-wrapper {
            position: relative;
            .insta-slider-nav {
                button {
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    font-size: 28px;
                    color: rgba(255, 255, 255, 0.7);
                    &.insta-left {
                        left: 15px;
                        @include media-breakpoint-up(md) {
                            left: 46px;
                        }
                    }
                    &.insta-right {
                        right: 15px;
                        @include media-breakpoint-up(md) {
                            right: 46px;
                        }
                    }
                }
            }
        }
        ul {
            list-style: none;
            padding-left: 0;
            justify-content: center;

            li {
                a {
                    font-size: 36px;
                    color: #000;
                }

            }
            &.links {
                display: flex;
                // margin-bottom: 38px;
                li {
                    +li {
                        margin-left: 18px;
                    }
                }
            }
            &.instagram-slider {
                max-height: 320px;
                li {
                    // .img-wrapper {
                    //     width: 425px;
                    //     height: 320px;
                    //     background-size: cover;
                    //     background-repeat: no-repeat;
                    //     background-position: center;
                    // }
                    a {
                        position: relative;
                        img {
                            height: 320px;
                            width: auto;
                            transition: all .3s;
                            @include media-breakpoint-down(sm) {
                                height: auto;
                            }
                        }
                        &:hover {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img {
                                // filter: brightness(50%);
                                transition: all .3s;
                            }
                            // &:before {
                            //     @include fontawesome-icon(brands);
                            //     content: $fa-var-fort-awesome;
                            //     position: absolute;
                            //     z-index: 1;
                            //     color: #fff;
                            // }
                        }
                    }
                }
            }
        }
    }
}