.footer-wrapper {
    background-color: color("dark");
    padding-top: 36px;
    padding-bottom: 47px;
    position: relative;
    .footer-lv-one {
        p {
            text-transform: uppercase;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
        p, a, li {
            color: #fff;
            font-size: 14px;
            @include font-body(bold);
        }
        ul {
            list-style: none;
            padding-left:0;
            margin-left:0;
            li {
                line-height: 32px;
            }
            + p {
                margin-top: 20px;
                @include media-breakpoint-up(md) {
                    margin-top: 34px;
                }
            }
        }
        .column-link {
            width: 100%;
            @include media-breakpoint-up(xl) {
                max-width: 201px;
            }
        }
        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .column-link {
                flex-basis: 48%;
            }
        }
        @include media-breakpoint-up(xl) {
            .column-link {
                flex-basis: auto;
            }
        }
        @include media-breakpoint-down(md) {
            .column-link {
                &:nth-child(n+3){
                    margin-top: 15px;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            .column-link {
                &:nth-child(n+3){
                    margin-top: 0;
                }
                + .column-link {
                    margin-top: 15px;
                }
            }
        }
    }
    .footer-lv-two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        margin-top: 14px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        .logo-wrapper {
            width: 100%;
            max-width: 786px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .cbr-logo {
                img {
                    max-height: 41px;
                    &:nth-child(2) {
                        padding-left:8px;
                        margin-left:8px;
                        border-left: 1px solid rgba(255, 255, 255, 0.2);
                    }
                    @include media-breakpoint-down(sm){
                        max-height: 30px;
                    }
                }
            }
            img {
                &.tripadvisor {
                    max-height: 37px;
                }
                &.shire {
                    max-height: 49px;
                }
            }
            @include media-breakpoint-down(lg) {
                margin-top: 10px;
            }
            @include media-breakpoint-down(md) {
                flex-wrap: wrap;
                justify-content: center;
                img {
                    margin-left: 15px;
                    margin-bottom: 15px;
                }
            }
            @include media-breakpoint-down(sm) {
                margin-top:0;
                img {
                    margin-left: 0;
                    margin-bottom: 0;
                    margin-top: 15px;
                    &.tripadvisor {
                        max-height: 30px;
                    }
                    &.shire {
                        max-height: 30px;
                    }
                }
            }
        }
        .social-icons {
            p {
                font-size: 14px;
                text-transform: uppercase;
                @include font-body(bold);
                flex-basis: 100%;
                color: #fff;
            }
            a {
                font-size: 36px;
                color: #fff;
                transition: all .3s;
                + a {
                    margin-left: 16px;
                }
                &:hover {
                    color: color("light-1");
                    transition: all .3s;
                }
            }
        }
        .portal {
            a {
                color: #fff;
                display: flex;
                align-items: center;
                font-size: 16px;
                @include font-body(regular);
                svg {
                    height: 24px;
                    path, line, polyline, polygon {
                        stroke: #fff !important;
                    }
                }
                span {
                    margin-left: 9px;
                }
                @include media-breakpoint-down(sm) {
                    justify-content: center;
                }
            }
        }
        @include media-breakpoint-down(lg) {
            flex-wrap: wrap;
            justify-content: space-around;
            .logo-wrapper {
                order:3;
            }
        }
    }
    .footer-lv-three {
        padding-top: 21px;
        .footer-lv-three-links {
            display: flex;
            justify-content: space-between;
            p, li, a {
                font-size: 14px;
                color: #fff;
            }
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
            ul {
                list-style: none;
                padding-left:0;
                margin-left: 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                li {
                    + li {
                        &:before {
                            content: '|';
                            margin: 0 5px;
                        }
                    }
                }
                @include media-breakpoint-down(sm) {
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-bottom: 15px;
                }
            }
            p {
                a {
                    text-transform: uppercase;
                    @include font-body(bold);
                }
            }
            @include media-breakpoint-down(sm) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        .footer-lv-three-disclaimer {
            padding-top: 40px;
            p {
                color: #fff;
                font-size: 13px;
            }
        }
    }
}