header {
    &.inner-page {
        .content-wrapper {
            max-width: 785px;
            text-align: center;
            color: #fff;
            @include even-y-padding(40px);
            h2 {
                font-size: 36px;
                margin-bottom: 20px;
                @include media-breakpoint-up(md) {
                    font-size: 58px;
                    margin-bottom: 26px;
                }
                @include media-breakpoint-up(xl) {
                    font-size: 72px;
                }
            }
            p {
                font-size: 14px;
                @include font-body(medium);
                @include media-breakpoint-up(md) {
                    font-size: 16px;
                }
            }
            @include media-breakpoint-up(xl) {
                @include even-y-padding(61px);
            }
        }
    }
    &.inner-page-slider {
        position: relative;
        overflow: hidden;
        #img-slider {
            @include media-breakpoint-down(sm) {
                max-height: 120px;
            }
            .img-wrapper {
                height: 120px;
                background-size: cover;
                background-position: right center;
                @include media-breakpoint-up(md) {
                    height: 304px;
                    background-position: center;
                }
                @include media-breakpoint-up(xl) {
                    height: 504px;
                }
            }
        }
        .copy-slider-wrapper {
            background-color: rgba(0, 0, 0, 0.5);
            .copy-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #fff;
                .copy {
                    margin-left: 5px;
                }
                a.theme-btn {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-radius: 6px;
                    align-self: flex-end;
                    min-width: 170px;
                }
                h2 {
                    font-size: 18px;
                    @include media-breakpoint-up(xl) {
                        font-size: 30px;
                    }
                }
                p {
                    @include font-body(thin);
                    font-size: 16px;
                    @include media-breakpoint-up(xl) {
                        font-size: 20px;
                    }
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 10px;
                    }
                }
                @include media-breakpoint-up(md) {
                    height: 120px;
                    display: flex !important;
                    align-items: flex-end;
                    padding-bottom: 20px;
                }
                @include media-breakpoint-up(lg) {
                    height: 136px;
                }
            }
            .container {
                position: relative;
            }
            .copy-slider-nav {
                position: absolute;
                right:10px;
                ul {
                    list-style: none;
                    padding-left: 0;
                    display: flex;
                    align-items: center;
                    li {
                        button {
                            padding: 0;
                            color: #fff;
                            font-size: 18px;
                            transition: all .3s;
                            @include media-breakpoint-up(md) {
                                font-size: 28px;
                            }
                            &:hover {
                                color: color('light-1');
                                transition: all .3s;
                            }
                        }
                        &:last-child {
                            margin-left: 35px;
                        }
                    }
                }
                @include media-breakpoint-up(md) {
                    top: 20px;
                    right: 20px;
                }
                @include media-breakpoint-down(sm) {
                    bottom: 10px;
                }
            }
            @include media-breakpoint-down(sm) {
                padding: 15px 0;
                background-color: color("secondary");
            }
            @include media-breakpoint-up(md) {
                position: absolute;
                bottom:0;
                left:0;
                right: 0;
                z-index: 1;
            }
        }
        @include media-breakpoint-up(md) {
            max-height: 304px;
        }
        @include media-breakpoint-up(xl) {
            max-height: 504px;
        }
    }
    &.post-page {
        height: 155px;
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        @include media-breakpoint-up(md) {
            height:205px;
            background-position: center;
        }
        @include media-breakpoint-up(lg) {
            height: 505px;
        }
    }
}